body{
    height:100%;
    margin:0px;
    padding:0px;
    font-size:18px;
    font-family:"Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:pink;
}
.header_class{
    color:rgba(139, 0, 93, 0.648);
    text-align:center;
    margin-top:0px;
    
}
#pimg1{
    background-image:url(img1.jpg);
    height:1000px;
}
#pimg2{
    background-image:url(img3.jpg);
    height:500px;
}
#pimg3{
    background-image:url(img2.jpg);
    height:1000px;
}
#pimg4{
    background-image:url(img2.jpg);
    height:1000px;
}


#pimg1,
#pimg2,
#pimg3,
#pimg4 {
   
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
   

}

.section{
    text-align:center;


}
.section_light{
    background-color: rgb(225, 189, 206);
    color:black
}
.section_dark{
    background-color: rgb(119, 52, 94);
    color:white;
}
.pclass{
    margin:0px;
    padding:20px;
}
